<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

<th:block th:fragment="header">
  <header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">"Moby Dickens Bookstore"</h1>
        <p class="col-md-8 fs-4">Selling classics and classic selling since 2022.</p>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg" style="background-color:#d4fff2">
      <div class="container-fluid">
<!--        <a class="navbar-brand" href="#">Navbar</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact-us">Contact Us</a>
            </li>
            <li class="nav-item" th:if="${#httpServletRequest.remoteUser}">
              <a class="nav-link" href="/admin/books/view">Admin</a>
            </li>
          </ul>
          <form class="d-flex" role="search" method="get" action="/search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div style="float: right;">
            <div th:if="${#httpServletRequest.remoteUser}">
              <p th:text="${#httpServletRequest.remoteUser}">
                Admin
              </p>
              <a href="/logout">(Logout)</a>
            </div>
            <a th:unless="${#httpServletRequest.remoteUser}" href="/login">Login</a>
          </div>
        </div>
      </div>
    </nav>

  </header>
</th:block>

<th:block th:fragment="footer">
  <footer>
    <nav class="navbar navbar-expand-lg" style="background-color:#bbfce9">
      <div class="container-fluid">
        <ul class="nav flex-column me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact-us">Contact Us</a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/search">Search</a>-->
<!--          </li>-->
          <li class="nav-item">
            <a class="nav-link disabled">&copy; 2022 - Moby Dickens Bookstore</a>
          </li>
        </ul>
      </div>
    </nav>
  </footer>
</th:block>

</body>
</html>